<p id="notice"><%= notice %></p>

<div class="todo_items" data-list=<%= @list.id%> >

<% if @todo_items.empty? == false %>
  <% @todo_items.each do |item| %>
    <div class='todo_item'>
      <table>
        <tbody>
            <tr>
              <td><%= check_box_tag name='complete', checked= item.complete %></td>
              <td><h3><%= link_to item.description, '#', id:'notes_link' %></h3></td>
              <td><%= link_to 'Edit', edit_todo_item_path(item) %></td>
              <td><%= link_to 'Remove', item, method: :delete, id: 'destroy', rel: 'nofollow' %></td>
            </tr>
        </tbody>
      </table>
      <div class='notes_holder'>
        <p id='notes' style='display: none'><%= item.notes%></p>
      </div>
    </div>
  <% end %>

<%else %>

  <%= render partial: 'todo_items/form', locals: {todo_item: @new_todo_item, list: @list} %>

<% end %>

</div>

<div class="bottom_links center">
  <%= link_to 'Delete List', @list, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
