<p id="notice"><%= notice %></p>

<div class='todo_items center'>
  <table>
    <thead>
      <tr>
        <th><h3>Description</h3></th>
        <th><h3>Complete?</h3></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= @todo_item.description %></td>
          <td><%= @todo_item.complete %></td>
          <td><%= link_to 'Edit', edit_todo_item_path(@todo_item) %></td>
          <td><%= link_to 'Destroy', @todo_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    </tbody>
  </table>
</div>
