<p id="notice"><%= notice %></p>

<div>
  <h1><%= @todo_item.description%></h1>
  <span>Created at: <%= @todo_item.created_at%></span>
  |
  <span>List number: <%= link_to @todo_item.list_id, list_path(@todo_item.list_id) %></span>
</div>

<p>
  <%= @todo_item.notes%>
</p>

<div class="center">
<%= link_to 'Edit', edit_todo_item_path(@todo_item) %> |
<%= link_to 'Destroy', @todo_item, method: :delete, data: { confirm: 'Are you sure?' }, id: 'destroy', rel: 'nofollow' %>
</div>
